# EditorConfig helps maintain consistent coding styles and line endings.
root = true

[*]
end_of_line = lf
charset = utf-8
insert_final_newline = true
trim_trailing_whitespace = true

[*.{sh,bash}]
indent_style = space
indent_size = 2

[Dockerfile]
indent_style = space
indent_size = 2
